<center><h1>Welcome to Playlister!</h1></center>

<center><img src="https://media.wired.com/photos/5a0b6dbc4d244a18f0437811/master/pass/iStock-636156852.jpg" height="300" width="500" alt="tape"></center>

<center><h2>MENU</h2></center>


<center>
  <a href="/songs/new">Add A Song</a>     |
  <a href="/songs"> All Songs</a>     |
  <a href="/artists"> All Artists</a>     |
  <a href="/genres"> All Genres</a>     |
</center>
